$current_bgc: #0c27be;
$hover_bgc: #ffebe4;

.ChatroomItem {
  overflow: hidden;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.4rem 0.6rem 0.6rem 0.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: default;
  position: relative;

  .info {
    width: 100%;
    margin-left: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .info_left {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      .name {
        font-weight: 900;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }

      .last_message {
        font-weight: 700;
        font-size: 0.85rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }

    .info_right {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      margin: 0 0.4rem;

      * {
        margin: 0 auto;
      }

      .time {
        font-size: 0.7rem;
      }

      .seen {
      }
    }
  }
}

.current {
  background-color: #178ad2;

  * {
    color: #fff;
  }
}
