.LeftHeader {
  width: 100%;
  padding: 1.2rem;
  margin-top: 1rem;
  cursor: default;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .title {
    font-weight: 900;
    font-size: 1.8rem;
  }

  .create_chat_btn {
    border-radius: 50%;

    .create_chat_icon {
      height: 1.6rem;
      width: 1.6rem;
    }
  }
}

.CreateChatModal {
  .modal_body {
  }

  .user_item {
    width: 100%;
    // background-color: red;
    padding: 0.5rem 1rem;
  }
}
