$ctx-menu-open-time: 0.3s;

.Message {
  width: 100%;
  transition: background-color 0.3s ease;

  .box {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    padding: 0.1rem 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .checkbox {
      align-self: flex-end;
      margin-bottom: 0.15rem;
      min-height: 0;
      z-index: 2;
      pointer-events: none;

      position: absolute;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3 ease;

      span {
        height: 1.4rem;
        width: 1.4rem;
        border-radius: 50%;
      }
    }

    .content {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      margin-left: 0;
      transition: margin-left 0.3s ease;

      .content_content {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .avatar {
        min-width: 0;
        height: 2.2rem;
        width: 2.2rem;
        border: 2px solid #fff;
        margin-right: 1rem;
        align-self: flex-end;
        transition: transform 0.3s ease;
        z-index: 2;
      }
    }
  }
}

.my-message {
  .box .content {
    flex-direction: row-reverse;

    .content_content {
      align-items: flex-end;
    }

    .avatar {
      display: none;
    }
  }
}

.your-message {
  .box .content {
    flex-direction: row;

    .avatar {
      display: block;
      visibility: hidden;
    }
  }

  &.last-message {
    .content .avatar {
      visibility: visible;
    }
  }
}

.is-selected {
  background-color: rgba(#000, 0.2);
}

.mode-select {
  cursor: default;

  .box {
    .checkbox {
      visibility: visible;
      opacity: 1;
    }

    .content {
      margin-left: 2rem;

      .avatar {
        transform: scale(0.8);
      }
    }
  }
}
